<div style="border: 10px solid orange; padding: 10px;">
  <table style="width:100%">
  <tr>
    <th><img style="height: 50px;" src="https://raw.githubusercontent.com/patrickcardoso-dev/cucaflow-app/develop/src/assets/logo/logo-cucaflow-desktop.png"></th>
  </tr>
</table>
<hr>
<table style="width:100%">
  <tr>
    <th><h1>Recuperação de senha</h1></th>
  </tr>
</table>
<table>
  <tr>
    <td><p style="font-size: 20px">Olá {{nome}}, Identificamos que você solicitou a recuperação de sua senha e estamos aqui para te ajudar. Por favor, clique no botão abaixo para redefinir sua senha:</p></td>
  </tr>
</table>
<br>
<a style="height: 35px; width: 30%; background-color: orange; display: block; text-align: center; line-height: 35px; text-decoration: none; color: #fff; border-radius: 5px;" href="{{link}}">Recumperar senha</a>
<br>
<table style="width: 100%;">
  <tr>
    <td>Caso não tenha solicitado essa recuperação, por favor entre em contato conosco imediatamente.
Atenciosamente, Equipe CUCAFLOW</td>
  </tr>
</table>
<br>
<table style="width: 100%;">
  <tr>
    <th><img style="width: 100%;" src="https://cdn.templates.unlayer.com/assets/1704778789924-Login.png"></th>
  </tr>
</table>
</div>