<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Recuperação de senha</title>
</head>
<body>
  <h1>Recuperação de senha</h1>
  <p>Olá {{nome}},</p>
  <p>Clique no link abaixo para recumperar sua senha:</p>
  <a href="{{link}}">Recuperar senha</a>
</body>
</html>